<div class="page-wrapper">
    <div class="container">
        <div class="row">
            <img class="sideimg" src="./assets/img/urn_aaid_sc_US_54d95aff-6c21-4f2a-832b-080fd07ffe2c (5).png" alt="">
            <div class="col-md-7">
                <h1>ABOUT US</h1>
                <p>What we are and our history</p>
                &nbsp;
                &nbsp;

                <p style="color: black;font-size: 13px;">
                    WELCOME TO OUR AQUA WORLD
                    Aquarius fish club is located in Karthikapally, Haripad, Alappuzha, Kerala , India.
                    Aquarius Fish is a small start-up company founded by Mr Athul B.Raj with the aim of introducing the
                    pisciculture among young generation. Different types of fish seeds like those of MST, Red Tilapia,
                    Chitralada, Anabus, Green Chromide (Karimeen), Basa are available in our farm with reasonable
                    prices. In addition to fish farming, we are also engaged in poultry farming.

                    Option of home delivery for distant areas is currently unavailable. But both Home and Spot delivery
                    is available for the nearby locations. Customers who are interested in visiting and checking the
                    fishes in person are welcome.

                    We can also provide you with the basic instructions and awareness required for various fish
                    cultivation. Even though the company is in the initial stages, we can ensure the best services and
                    ready availability.
                </p>

                <hr>


            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-4">
                <img src="./assets/images/banner2.png" alt="">
            </div>
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h2>Join our Whatsapp group</h2>
            <p style="color: black;">Please scan the QR Code to get our whatsapp group link or click on the below button
                to join our
                team...</p>
            <button style="    width: 45%;" class=" btn btn-success"> <span class="icon-whatsapp">

                </span> &nbsp; <a href="https://chat.whatsapp.com/E3r2QldQSddFYMnDaIbWnB" target="_blank"
                    style="color: white;">Join Our Team</a> </button>

        </div>
        <div class="col-sm-4">
            <img style="    margin-bottom: 35px;margin-top: 10px;
            margin-left: auto;margin-right: auto;display: block;
            width: 82%;
            " src="./assets/images/New Project (24).png" alt="">
        </div>
    </div>
</div>