h1{
font-size: 50px;
color: #ffffff;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  @media (max-width: 968px)
{
  .carousel {
    margin-top: 71px;
  }
    .hero-text {
        text-align: center;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
      

      }
      h1{
        font-size: 20px;
      }
      .btn{
        border-radius: 0px;
      margin-bottom: 39px;
      }
} 
.btn{
  border-radius: 0px;
    padding: 12px;
    width: auto;
}