<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll" style="overflow-y: auto;">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title"> <strong> Admin Pannel</strong></li>
                <li routerLinkActive="active">
                    <a routerLink="/adminpannel"><i class="fa fa-dashboard"></i> <span>Examination</span></a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/reports"><i class="fa fa-user-md"></i> <span>Reports</span></a>
                </li>

            </ul>

        </div>
    </div>
</div>