<app-navigation></app-navigation>

<div class="container" style="margin-top: 90px;">
    <div class="row">
        <div class="col-sm-4" *ngFor="let results of results">
            <div class="card" style="    margin-bottom: 23px;">
                <img style="margin-right: auto;padding: 11px;margin-left: auto;" src="{{results.fishimages}}" alt="" height="250px"
                    width="250px">
                <p style="padding: 1px 15px 1px 15px;    font-weight: bold; text-align: center;">{{results.fishName}}</p>
                <p style="padding: 1px 15px 1px 15px;" >{{results.description}} </p>
                <button (click)="viewmore(results)" class="btn btn-dark" style="    WIDTH: 80%;
                    MARGIN: auto;
                    MARGIN-BOTTOM: 11PX;">View More</button>
                <button class="btn btn-danger" style="    WIDTH: 80%;
                MARGIN: auto;
                MARGIN-BOTTOM: 11PX;background-color: yellowgreen;border: none;" (click)="booknow(results)" >Book Now</button>

            </div>
        </div>
    </div>
</div>




